<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>

        <clear />

        <add key="nuget-public-v3" value="https://api.nuget.org/v3/index.json" />
        <add key="GitHubEng" value="https://nuget.pkg.github.com/sorenson-eng/index.json" />

    </packageSources>
</configuration>
